.portfolio-container {
    margin: 2% 4% 4%;
}

.button-container {
    float: right;
}

.balance-banner {
    padding-top: 0px;
    padding-left: 0px;
}

.positive-gain {
    color: green;
}

.negative-gain {
    color: red;
}